<%- include("./layout/header") %>
<% if (messages.success) { %>
    <div class="alert alert-success" role="alert">
      <%= messages.success %>
    </div>
<% } %>
<section class="container home">
    <% if (loggedIn) { %>
        <b>Welcome, <%= currentUser.first_name %>!</b>
        <button><a href="/users/<%= currentUser.id %>/posts/create">Create a new post</a></button>
    <% } %>
</section>

<section class="container">
    <h2>Posts</h2>
    <% if (posts.length > 0) { %>
        <ul class="posts">
            <% if (loggedIn) { %>
                <% posts.forEach(post => { %>
                    <li class="post">
                        <b><%= post.title %></b>
                        <p><%= post.body %></p>
                        <div class="post-details">
                            <small>(by <%= post.user.first_name %> on <%= post.createdAtFormatted %>)</small>
                            <% if (isAdmin || currentUser.id === post.user.id) { %>
                                <div class="btns-post">
                                    <button><a href="users/<%= post.user.id %>/posts/<%= post.id %>/edit">Edit</a></button>
                                    <button><a href="users/<%= post.user.id %>/posts/<%= post.id %>/delete">Delete</a></button>
                                </div>
                            <% } %>
                        </div>
                    </li>
            <% })} else { %>
                <% posts.forEach(post => { %>
                    <li class="post">
                        <b><%= post.title %></b>
                        <p><%= post.body %></p>
                    </li>
                <% }) %>
            <% } %>    
        </ul>
    <% } else { %>
        <p>There are no posts yet!</p>
    <% } %>
</section>
<%- include("./layout/footer") %>