<%- include('./layout/header') %>
<h1><%= title %></h1>
<% if (messages.error) { %>
  <div class="alert alert-danger" role="alert">
    <%= messages.error %>
  </div>
<% } %>
<form action="" method="post">
  <label for="email">Email Address: 
    <input type="email" name="email">
  </label>
  <label for="password">Password: 
    <input type="password" name="password">
  </label>
  <button>Log in</button>
</form>
<% if (typeof errors !== 'undefined') { %>
<ul>
  <% errors.forEach((error) => { %>
    <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>
<%- include('./layout/footer') %>