<%- include('./layout/header') %>
<% if (messages.error) { %>
  <div class="alert alert-danger" role="alert">
    <%= messages.error %>
  </div>
<% } %>
<section class="container">
  <h1><%= title %></h1>
  <form action="" method="post">
    <div class="input-field">
      <label for="email">Email Address: </label>
      <input type="email" name="email">
    </div>
    <div class="input-field">
      <label for="password">Password: </label>
      <input type="password" name="password">
    </div>
    <button>Login</button>
  </form>
  <% if (typeof errors !== 'undefined') { %>
  <ul>
    <% errors.forEach((error) => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
</section>
<%- include('./layout/footer') %>