<%- include('./layout/header') %>
<section class="container">
  <h1>Sign Up</h1>
  <form action="" method="post">
    <div class="input-field">
      <label for="first_name">First Name: </label>
      <input type="text" name="first_name" value=<%= 'undefined'===typeof user ? "" : user.first_name %>>
    </div>
    <div class="input-field">
      <label for="last_name">Last Name: </label>
      <input type="text" name="last_name" value=<%= 'undefined'===typeof user ? "" : user.last_name %>>
    </div>
    <div class="input-field">
      <label for="email">Email Address: </label>
      <input type="email" name="email" value=<%= 'undefined'===typeof user ? "" : user.email %>>
    </div>
    <div class="input-field">
      <label for="password">Password: </label>
      <input type="password" name="password">
    </div>
    <div class="input-field">
      <label for="password_confirm">Confirm Password: </label>
      <input type="password" name="password_confirm">
    </div>
    <button>Sign Up</button>
  </form>
  <% if (typeof errors !== 'undefined') { %>
  <ul>
    <% errors.forEach((error) => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
</section>
<%- include('./layout/footer') %>