<%- include('./layout/header') %>
<h1>Sign Up!</h1>
<form action="" method="post">
  <label for="first_name">First Name:
    <input type="text" name="first_name" value=<%= 'undefined'===typeof user ? "" : user.first_name %>>
  </label>
  <label for="last_name">Last Name: 
    <input type="text" name="last_name" value=<%= 'undefined'===typeof user ? "" : user.last_name %>>
  </label>
  <label for="email">Email Address: 
    <input type="email" name="email" value=<%= 'undefined'===typeof user ? "" : user.email %>>
  </label>
  <label for="password">Password: 
    <input type="password" name="password">
  </label>
  <label for="password_confirm">Confirm Password: 
    <input type="password" name="password_confirm">
  </label>
  <button>Sign Up</button>
</form>
<% if (typeof errors !== 'undefined') { %>
<ul>
  <% errors.forEach((error) => { %>
    <li><%= error.msg %></li>
  <% }) %>
<% } %>
</ul>
<%- include('./layout/footer') %>